<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Page Not Found'}); -%>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBQWKBV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include(`${partials}/navbar`, {pageClass: 'lost'}); -%>

    <header class="lost">
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="intro-heading">wrong URL?</div>
                    <div class="intro-lead-in">The page you requested does not exist.</div>
                    <a class="page-scroll btn btn-xl" href="<%= PP %>">
                        Go To Homepage <span class="carot">&raquo;</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</body>

</html>
