<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Additional Content'}); -%>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBQWKBV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include(`${partials}/navbar`, {pageClass: 'additional-content'}); -%>

    <section class="additional-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Additonal Content</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="article-links">
                        <p><a href="<%= PUBLIC_PATH %>articles/generating-fortune-1000-leads-with-events.html">Generating Fortune 1000 Leads With Events</a></p>
                        <p><a href="<%= PUBLIC_PATH %>articles/a-webinar-self-assessment-guide.html">A Webinar Self Assessment Guide</a></p>
                        <p><a href="<%= PUBLIC_PATH %>articles/assembling-your-crack-webinar-team.html">Assembling Your Crack Webinar Team</a></p>
                        <p><a href="<%= PUBLIC_PATH %>articles/5-webinar-guidelines-professionals-cant-afford-to-forget.html">5 Webinar Guidelines Professionals Cant Afford To Forget</a></p>
                        <p><a href="<%= PUBLIC_PATH %>articles/fun-and-ease-creating-your-webinar-presentation.html">Fun And Ease Creating Your Webinar Presentation</a></p>
                        <p><a href="<%= PUBLIC_PATH %>articles/how-to-assemble-parts-into-an-excellent-presentation.html">How To Assemble Parts Into An Excellent Presentation</a></p>
                        <p><a href="<%= PUBLIC_PATH %>articles/how-to-powerfully-connect-with-your-audience.html">How To Powerfully Connect With Your Audience</a></p>
                        <p><a href="<%= PUBLIC_PATH %>articles/keeping-good-webinars-from-looking-bad.html">Keeping Good Webinars From Looking Bad</a></p>
                        <p><a href="<%= PUBLIC_PATH %>articles/fee-vs-free-webinars-is-it-better-to-give-or-receive.html">Fee Vs Free Webinars Is It Better To Give Or Receive</a></p>
                        <p><a href="<%= PUBLIC_PATH %>articles/5-keys-to-building-relationships-during-online-events.html">5 Keys To Building Relationships During Online Events</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</body>

</html>
