<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Industries'}); -%>
<body>
    <%- include(`${partials}/navbar`, {pageClass: 'industries'}); -%>

    <header class="industries">
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="intro-heading col-md-12">webinar industries.</div>
                    <div class="intro-lead-in col-md-8">Clients across industries hire us for webinars with their prospects, customers, and employees.</div>
                    <div class="col-md-12">
                        <a class="page-scroll btn btn-xl" href="#industries">
                            Learn More <span class="carot">&raquo;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="down-arrow page-scroll" href="#industries"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
    </header>
    <section class="bg-light-gray" id="industries">
        <div class="container">
            <div class="row industries-row">
                <div class="portfolio-item professional-services">
                    <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <div class="image"></div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Professional Services</h4>
                    </div>
                </div>
                <div class="portfolio-item enterprise-technology">
                    <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <div class="image"></div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Enterprise Technology</h4>
                    </div>
                </div>
            </div>
            <div class="row industries-row">
                <div class="portfolio-item higher-education">
                    <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <div class="image"></div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Higher Education</h4>
                    </div>
                </div>
                <div class="portfolio-item diversified">
                    <a class="portfolio-link" href="#portfolioModal4" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <div class="image"></div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Diversified</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Professional Services</h2>
                                <p>In the relationship-oriented world of professional services, how information is delivered is often as important as the information itself. Services firms rely on Rally Point Webinars to provide a premier webinar experience for their prospects and clients.</p>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Enterprise Technology</h2>
                                <p>Technology companies want a webinar technology that is as reliable as their own. By providing an Adobe&reg; Connect&trade; license and redundancies for every contingency, Rally Point Webinars delivers online events that technology companies can count on.</p>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Higher Education</h2>
                                <p>Colleges and universities promise students a rich learning environment and knowledgeable teachers. Rally Point Webinars delivers events to match by having speakers prepared for their events and by delivering a highly-customizable and robust webinar platform in Adobe&reg; Connect&trade;.</p>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Diversified</h2>
                                <p>Regardless of industry, organizations expect professionally planned and produced webinars. At Rally Point Webinars, we tailor our production process to accommodate the needs of each client so that they receive the service they need.</p>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</body>

</html>
