<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Free Consultation'}); -%>
<body id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBQWKBV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include(`${partials}/navbar`, {pageClass: 'sales-page-1'}); -%>

    <header class="sales-page-1">
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="intro-heading">Rally Point Webinars</div>
                    <div class="intro-lead-in col-md-12 text-center">
                        <p>We provide the best webinar services, technology, and platform.</p>
                    </div>
                    <div class="col-md-12 text-center">
                        <a class="page-scroll btn btn-xl" href="">
                             FREE Consultation with a Webinar Consultant <span class="carot">&raquo;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="credibility-logos">
        <!-- Oracle, BCBS, Pitney Bowes, Notre Dame -->
        <img src="<%= PP %>images/logos/versata.png" alt="" class="logo">
        <img src="<%= PP %>images/logos/RAIN-group.png" alt="" class="logo">
        <img src="<%= PP %>images/logos/pmsolutions-logo.png" alt="" class="logo">
        <img src="<%= PP %>images/logos/revive-health-logo.png" alt="" class="logo">
    </section>

    <section class="sales-page-1 above-the-fold">
        <div class="container">
            <div class="row">
                <div class="split-2 col-md-12">
                    <div class="split-box">
                        <div class="col-lg-12">
                            <p>Rally Point Webinar's full service webinar management takes care of everything from project management to post production.
                                From webinar registration management to the webinar platform to moderating the webinar we can take the stress and
                                worry out of running them.</p>
                        </div>
                        <div class="col-md-12">
                            <a class="btn btn-xl" href="#pre-production">
                                Learn More
                                <span class="carot">&raquo;</span>
                            </a>
                        </div>
                    </div>
                    <div class="split-box">
                        <div class="col-lg-12 text-right">
                            <img src="<%= PP %>images/adobe/adobe-connect-laptop1.jpg" alt="adobe connect">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sales-page-1 webinar-services">
        <div class="container">
            <div class="row text-center">
                <h2 class="section-heading">Our Full Service Webinar Management Includes</h2>
                <div class="col-md-12">
                    <div class="split-2">
                        <div class="webinar-service split-box">
                            <h4 class="title">Webinar Project Management</h4>
                            <p class="description">The easiest webinar-making experience you'll ever have.</p>
                            <a href="" class="btn btn-sm">Learn More</a>
                        </div>
                        <div class="webinar-service split-box">
                            <h4 class="title">Webinar Pre-production</h4>
                            <p class="description">We handle registration and project management.</p>
                            <a href="" class="btn btn-sm">Learn More</a>
                        </div>
                    </div>
                    <div class="split-2">
                        <div class="webinar-service split-box">
                            <h4 class="title">Webinar Production</h4>
                            <p class="description">We provide the technology and produce the event.</p>
                            <a href="" class="btn btn-sm">Learn More</a>
                        </div>
                        <div class="webinar-service split-box">
                            <h4 class="title">Webinar Post-production</h4>
                            <p class="description">We host the recording and provide on-demand leads.</p>
                            <a href="" class="btn btn-sm">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sales-page-1 testimonials">
        <h2 class="section-heading">Testimonials</h2>
        <div class="carousel">
            <div id="left-btn" class="left-btn">‹</div>
            <div id="right-btn" class="right-btn">›</div>
            <div class="dots"></div>
            <div class="carousel-item">
                <div class="container text-center">
                    <p class="text">"Your team really made a difference for me. Taking me through the practice session and help with creating the video was really helpful and great preparation for what I could expect."</p>
                    <span class="author">
                        <strong>Cindy Olson</strong> |
                        <em>Director, Support and Implementation Services KeyedIn</em>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="sales-page-1 industries bg-darkest-gray">
        <div class="container">
            <div class="row text-center">
                <div class="split-3">
                    <div class="industry-card split-box">
                        <h4 class="title">Education<br>Webinar Services</h4>
                        <p class="description">Rally Point Webinars can help you.</p>
                        <a href="" class="btn btn-sm">Learn More</a>
                    </div>
                    <div class="industry-card split-box">
                        <h4 class="title">Corporate Event<br>Webinar Services</h4>
                        <p class="description">Rally Point Webinars can help you.</p>
                        <a href="" class="btn btn-sm">Learn More</a>
                    </div>
                    <div class="industry-card split-box">
                        <h4 class="title">IT<br>Webinar Services</h4>
                        <p class="description">Rally Point Webinars can help you.</p>
                        <a href="" class="btn btn-sm">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <br>
                <br>
                <br>
                <div class="other-industries col-lg-12 text-center">
                    <p>We help all industries with their webinar events</p>
                    <a href="" class="btn btn-xl">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <section class="sales-page-1 main-cta bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Unsure of the right webinar solution? Contact us and we will help you find the best option for your objective <strong>FREE</strong>!</p>
                    <br>
                    <br>
                    <br>
                    <a href="" class="btn btn-xl">FREE Consultation with a Webinar Consultant</a>
                </div>
            </div>
        </div>
    </section>

    <section class="sales-page-1 platform">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Webinar Platform</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="sales-page-1 commitment bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Commitment</h2>
                    <p>We will provide you with the best webinar platform, technology, and services. You will have a partner who ensures that your webinars deliver results, that your speakers are prepared, and that your customers, prospects, and employees are taken care of.</p>
                </div>
            </div>
        </div>
    </section>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</body>

</html>
