<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Services'}); -%>
<body id="page-top">
    <%- include(`${partials}/navbar`, {pageClass: 'services'}); -%>

    <header class="services">
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="intro-heading">webinar services.</div>
                    <div class="intro-lead-in col-md-12">
                        <p>Over 10 years of experience delivering high-stakes webinar events.</p>
                    </div>
                    <div class="col-md-12"><a class="page-scroll btn btn-xl" href="#pre-production">
                        View Our Process <span class="carot">&raquo;</span></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="down-arrow page-scroll" href="#pre-production"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
    </header>

    <div class="services-links">
        <div class="container">
            <div class="row">
                <ul id="services-links-nav">
                    <li class="active"><a class="page-scroll" href="#pre-production">Pre-Production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#production">Production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#post-production">Post-production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#technology">Technology <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#customization">Customization <span class="carot">&raquo;</span></a></li>
                </ul>
            </div>
        </div><a class="back-to-top-btn page-scroll" href="#page-top"><i class="fa fa-arrow-up" aria-hidden="true"></i><br>Top</a></div>
    <section class="service" id="pre-production">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text">
                        <h2>Pre-Production</h2>
                        <p><strong>Project Management:</strong> We take the guesswork out of webinar preparation. We create and guide clients along pre-production timelines so that marketers, speakers, and business developers have laid the foundation for a successful webinar.</p>
                        <p><strong>Registration Management:</strong> Our customizable, mobile-friendly, webinar registration platform matches the branding and needs of each client. Meanwhile, real-time reporting allows marketers to track and act on every activity.</p>
                    </div>
                    <div class="services-image"></div>
                </div>
            </div>
        </div><a class="down-arrow page-scroll" href="#production"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></section>
    <div class="services-links">
        <div class="container">
            <div class="row">
                <ul id="services-links-nav">
                    <li><a class="page-scroll" href="#pre-production">Pre-Production <span class="carot">&raquo;</span></a></li>
                    <li class="active"><a class="page-scroll" href="#production">Production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#post-production">Post-production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#technology">Technology <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#customization">Customization <span class="carot">&raquo;</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="service bg-light-gray" id="production">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text">
                        <h2>Production</h2>
                        <p><strong>Expert Support:</strong> In addition to the technology, we provide an experienced, dedicated production team to moderate and technically support your webinar.</p>
                    </div>
                    <div class="services-image"></div>
                </div>
            </div><br><br><br>
            <div class="row">
                <div class="things-that-go-wrong">
                    <h2 class="things-that-go-wrong-title">We Cover Everything</h2>
                    <ul class="things-that-go-wrong-list">
                        <li>Power-outage resistant delivery</li>
                        <li>Multiple webinar production locations</li>
                        <li>Multiple Internet connections at each location</li>
                        <li>Multiple production computers</li>
                        <li>Two conference line providers</li>
                        <li>A backup webinar room</li>
                        <li>And more...</li>
                    </ul>
                </div>
            </div>
        </div><a class="down-arrow page-scroll" href="#post-production"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></section>
    <div class="services-links">
        <div class="container">
            <div class="row">
                <ul id="services-links-nav">
                    <li><a class="page-scroll" href="#pre-production">Pre-Production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#production">Production <span class="carot">&raquo;</span></a></li>
                    <li class="active"><a class="page-scroll" href="#post-production">Post-production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#technology">Technology <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#customization">Customization <span class="carot">&raquo;</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="service" id="post-production">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text">
                        <h2>Post-Production</h2>
                        <p><strong>Reporting:</strong> Receive detailed information on each registrant&rsquo;s and attendee&rsquo;s activities so you can nurture leads and drive sales conversations.</p>
                        <p><strong>On-Demand Assets:</strong> After your live webinar is over, we repackage the event into a user-friendly recording that continue to generate leads by tracking new registrations and poll responses.</p>
                    </div>
                    <div class="services-image"></div>
                </div>
            </div>
        </div><a class="down-arrow page-scroll" href="#technology"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></section>
    <div class="services-links">
        <div class="container">
            <div class="row">
                <ul id="services-links-nav">
                    <li><a class="page-scroll" href="#pre-production">Pre-Production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#production">Production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#post-production">Post-production <span class="carot">&raquo;</span></a></li>
                    <li class="active"><a class="page-scroll" href="#technology">Technology <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#customization">Customization <span class="carot">&raquo;</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="service bg-light-gray" id="technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text">
                        <h2>Technology</h2>
                        <p><strong>The Best Webinar Platform:</strong> Adobe&reg; Connect&trade; has been named a &ldquo;Leader&rdquo; of Webinar Technology by Gartner for 8 years in a row.</p>
                        <p><strong>The Nitty-Gritty:</strong> The general rule is: if you want to do it, we can do it. We provide branding, VoIP/telephone audio, video streaming, music, screen sharing, polling, multiple and flexible layouts, whiteboards,
                            drawing, a presenter-only area, host/presenter/participant chatting, and more.</p>
                    </div>
                    <div class="services-image"></div>
                </div>
            </div>
        </div><a class="down-arrow page-scroll" href="#customization"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></section>
    <div class="services-links">
        <div class="container">
            <div class="row">
                <ul id="services-links-nav">
                    <li><a class="page-scroll" href="#pre-production">Pre-Production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#production">Production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#post-production">Post-production <span class="carot">&raquo;</span></a></li>
                    <li><a class="page-scroll" href="#technology">Technology <span class="carot">&raquo;</span></a></li>
                    <li class="active"><a class="page-scroll" href="#customization">Customization <span class="carot">&raquo;</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="service" id="customization">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text">
                        <h2>Customization</h2>
                        <p><strong>Tailored to Your Needs:</strong> We will customize reports, run additional rehearsals, and do whatever else is needed so that each client receives the service and deliverables they need for their webinars to be a success.</p>
                    </div>
                    <div class="services-image"></div>
                </div>
            </div>
        </div>
        <a class="down-arrow page-scroll" href="#contact"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
    </section>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</body>

</html>
