<!DOCTYPE html>
<html lang="en">

<%- include(`${partials}/head`, {pageTitle: 'Assembling Your Crack Webinar Team'}); -%>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBQWKBV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include(`${partials}/navbar`, {pageClass: ''}); -%>

    <section class="article">
        <h2 class="title">Assembling Your Crack Webinar Team</h2>
        <p>In the remake of <em>The Ladykillers</em>, the riverboat casino "Bandit Queen" has millions of dollars which the mastermind Professor G.H. Dorr wants to steal. As criminal goals go, it's a great one.</p>
        <p>To make it happen, he needs the inside guy, the explosives specialist, the tunneling expert, and the grunt. Only once each position is filled with the right person can his plan succeed.</p>
        <p>The same logic holds true for a sports team, a political campaign, and, in your case, a webinar production. Without a marketer, producer, speaker, and business developer, your marketing webinar cannot succeed. It will fall short of its goals of
            driving registrations, running a flawless event, delivering valuable content, and creating sales conversations.</p>
        <p>As you select a person or two (or more) to fill each role, consider each of these responsibilities and attributes.</p>
        <h3>The Speaker</h3>
        <p>The whole premise of a marketing webinar is to showcase your firm's expertise. Attendees then view your firm as a valuable resource and are inclined to talk with you about how your expertise can address their needs.</p>
        <p>Therefore, the speaker has one essential role: To deliver a valuable presentation, one that helps attendees do their jobs better.</p>
        <p>The speaker role can involve two parts: content development and presentation skills. The first one is optional. Sometimes the speaker will have someone else create the presentation. Other times the speaker will take on the content development
            personally. Both work.</p>
        <p>That part aside, who should speak? The common answer is a senior executive. The wrinkles in that answer depend on such questions as:</p>
        <p>&nbsp;</p>
        <ul>
            <li>Who has the most experience?</li>
            <li>Who speaks the best?</li>
            <li>Who has the most time to prepare?</li>
            <li>Who do we want to brand as a thought leader?</li>
        </ul>
        <p>&nbsp;</p>
        <p>All of those questions point at valid criteria for selecting a speaker. Who you choose depends on which criteria you weight more.</p>
        <p>Regardless of whom you select, remember that no speaker delivers a great presentation without the help of others. This means executives are best served by putting aside any ego, inviting critical feedback, and being open to whatever they receive.</p>
        <h3>The Marketer</h3>
        <p>Having a designated marketer is critical, especially when crafting the marketing copy. The most successful webinar marketing communications highlight the most intriguing part of a presentation. The webinar title riffs on that point and much of
            the marketing copy pushes why that point is so important.</p>
        <p>Webinar speakers are often incapable of creating such copy because they are too far into the presentation to see beyond the details, to see the forest from the trees. They also lack the outside perspective to know what is truly catchy about a
            presentation.</p>
        <p>Let the marketer do marketing copy work. They know the marketplace and know what part of a presentation to push. The speaker can vet the copy and title for accuracy, but should not have the final say (as much as they tend to want to).</p>
        <p>Beyond that, someone has to manage the entire marketing campaign. That includes developing the strategy, crafting the copy, selecting the right list(s), coordinating email, direct mail, and/or phone-based campaigns, and setting up the registration
            process.</p>
        <h3>The Producer</h3>
        <p>Is a webinar producer really necessary? Next time you're in the car, ask yourself that question while taking your hands off the steering wheel. It's amazing how fast the answer arrives.</p>
        <p>The webinar producer makes sure the live event is set up properly, runs smoothly, and isn't derailed by any problems. That takes one person's full attention and a substantial amount of familiarity with the webinar technology to do.</p>
        <p>Therefore, at a minimum, two people need to be at every live webinar: the speaker and the producer. The speaker has a presentation to focus on. The producer has every other element to attend to.</p>
        <h3>The Business Developer</h3>
        <p>Congratulations! You've run a successful webinar. The marketer generated dozens of registrations, the presenter provided them with a valuable presentation, and the producer made sure the event was professionally run. And finally, a number of prospective
            clients saw your expertise at work first-hand and have newfound interest in your firm.</p>
        <p>Most firms stop there and call the event a success. Those firms miss the final, crucial step. A business developer should call each attendee and each person who registered but did not attend. A high percentage of these people are interested in
            having a one-on-one conversation with you. A business developer just needs to call and ask to have that conversation.</p>
        <p>Firms often think prospects will call if they are interested. Most times, they won't. They are often too busy or content enough to move past inertia to take the first action. Make it your firm's job to initiate the conversation. Many prospects
            will continue the conversation once you pick up the phone to start it.</p>
        <h3>Mission Accomplished</h3>
        <p>It can take just two people to market, deliver, produce, and follow-up with one webinar. It can also take a dozen. Pick a team that works with someone filling each role.</p>
        <p>With <em>The Ladykillers</em>, I forgot to mention the role of good guy, or, in this case, woman, Marva Munson. It's hard to have a happy conclusion if there isn't a good person to root for.</p>
        <hr />
        <p><strong>Aaron Joslow</strong> is a principal at Rally Point Webinars who specializes in content development and webinar implementation. <a href="mailto:ajoslow@rallypointwebinars.com">Click here to email Aaron</a>.</p>
    </section>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</html>
