<!DOCTYPE html>
<html lang="en">

<%- include(`${partials}/head`, {pageTitle: 'Fee Vs Free Webinars Is It Better To Give Or Receive'}); -%>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBQWKBV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include(`${partials}/navbar`, {pageClass: ''}); -%>

    <section class="article">
        <h2 class="title">Fee Vs Free Webinars Is It Better To Give Or Receive</h2>
        <p>"I'd like to charge for my webinars. I don't want to do all this work and give it away!" </em>-Firm Leader</p>
        <p>A common question is: Should your prospects pay to attend a webinar? My answer, 95% of the time, is "no." Hosting fee-based webinars counters the process of building and maintaining relationships and sacrifices long-term growth for short-term
            gain.</p>
        <p>This weekend, I went for walk through Faneuil Hall in downtown Boston. (Non-residents may know it as Quincy Market.) To take refuge from the not-so-appealing outdoor walking weather, I entered the large historic building which represents our rich
            heritage and is now filled with a…food court.</p>
        <p>What does this have to do with webinars? It's an eye-opening scene that we're all familiar with. The vendors that understand how people purchase have employees in the walking area offering free samples.</p>
        <p>Guess which vendors had the longest lines?</p>
        <h3>The Effect of Fees on Attendance</h3>
        <p>Let's look at the math from real examples of an existing client who marketed two separate webinars to their list:</p>
        <p align="center"><img src="<%= PP %>images/Dec09Chart1.gif" alt="" width="434" height="141" /></p>
        <p>If you want to grow your service firm, do not charge for webinars.</p>
        <p>At Rally Point, we look at webinars as a tactic that supports long-term growth. It begins and strengthens relationships with prospects. With that mindset, the more people you reach, the more robust growth your firm will realize in the long-term.</p>
        <h3>The Value of Registrants and Attendees</h3>
        <p>To keep things simple, let's treat registrants at free and fee-based webinars equally.</p>
        <p>(Arguments can be made that fee-paying attendees are more serious and should carry more weight. An argument can also be made that fee-paying attendees are looking to learn from the webinar so they can do something themselves. Hence, they should
            be weighted less. We're going to keep them equal.)</p>
        <p><em>What happens after the webinar?</em></p>
        <p>Registrants have indicated their interest in your expertise and presentation topic. Those who attended (live or recorded) have begun developing a trust in your firm and its speaker(s).</p>
        <p>Leverage that budding trust and clear interest by inviting registrants to one-on-one conversations. Ask them if they would like to talk about the webinar topic and the specifics of their situation.</p>
        <p>Research from RainToday.com shows that, among those who download white papers or register for webinars, there is a standard breakdown of short-term and long-term leads. That is, if you can get prospects aware of you and identify their interest
            in specific topics, you can expect a portion of them to buy related services in the short and long term.</p>
        <p>The breakdown:</p>
        <p align="center"><img src="<%= PP %>images/Dec09Chart2.gif" alt="" width="434" height="99" /></p>
        <p>That means 75% of the people that register for your event will be purchasing related services within two years. That's a big percentage! And it's exactly why fast growing, successful companies like Leads360, HubSpot, and Citrix all do free, not
            fee, based webinars.</p>
        <p>These fast growing firms understand that to achieve long-term, significant growth you have to get in front of prospects with your thought leadership. You have to provide some free samples to get more prospective clients lining up.</p>
        <p>Putting a fee on the webinar is a barrier to getting your expertise in front of as many prospects as possible. It's as if you're asking for fifty cents for a bite of chicken before they buy a $7 entrée at the food court. While some might pay,
            you will generate a lot more interest if you give it away.</p>
        <h3>The Long-Term Value of Fee vs. Free Webinars</h3>
        <p>Pretend your firm is going to run a webinar. You have a mailing list of 6,000 and the team is trying to decide whether or not to charge for the event. Try looking at the potential outcome of both a free and fee webinar. For this scenario, the
            average client worth (lifetime) for your firm is $20,000:</p>
        <p align="center"><img src="<%= PP %>images/Dec09Chart3.gif" alt="" width="434" height="263" /></p>
        <p>Is the above table a simplistic view? Yes. Does it illustrate the long term value of free webinars? <em>Yes!</em></p>
        <h3>The Final Analysis</h3>
        <p>Free webinars offer a zero-risk way for prospects to indicate their interest in a specific topic (need) and provide their contact information to a related service provider (your firm). Free webinars also generate more leads, conversations, and
            opportunities compared to fee-based webinars.</p>
        <p>Free webinars will contribute far more to your firm's long-term growth.</p>
    </section>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</html>
