<!DOCTYPE html>
<html lang="en">

<%- include(`${partials}/head`, {pageTitle: 'Generating Fortune 1000 Leads With Events'}); -%>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBQWKBV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include(`${partials}/navbar`, {pageClass: ''}); -%>

    <section class="article">
        <h2 class="title">Generating Fortune 1000 Leads With Events</h2>
        <p>On any given day, executives from Rolls Royce, Paramount Pictures or Walgreens are talking with the General Managers (GMs) of one enterprise software company. It's one of the largest such companies in the world and its GMs are navigating tricky
            waters. They have to keep executives at such renowned companies happy and create product development roadmaps that keep them loyal.</p>
        <p>How do you communicate a roadmap to customers? How do you win their support? How do you generate leads for the new offerings?</p>
        <p>The cadre of GMs who manage the dozens of enterprise software solutions chose quarterly user webinars as the answer. And they wanted to run those events without using any internal resources, and wanted to create the presentations using a minimum
            of their own time.</p>
        <h3>Sustainable Content</h3>
        <p>The first hurdle the GMs and Rally Point faced was creating content that would draw customers each quarter and that the GMs could manageably create each quarter.</p>
        <p>Presentations filled with such gobbledygook words as "cutting-edge," "innovation" and "turnkey" wouldn't do. Instead, each presentation began with a mix of good and frustrated quotes from customers. The quotes captured the customers' perspective,
            dismissed any notions of sugarcoating, and enabled the GMs to effectively talk about the specific items—bug fixes, new features, tech support transitions, etc.—that affected customers' success that quarter.</p>
        <p>The product development roadmap section let the GMs reveal the latest whiz-bang features and key material. It also let them share case studies, demos, and customer stories that created immediate, practical value for the attendees. As a finale,
            attendees were rewarded with special product and support offers.</p>
        <p>The format of the events stayed the same. The GMs could plug the quarter's information into each presentation in an afternoon or two and have a presentation ready to go.</p>
        <h3>Yes, No, Maybe</h3>
        <p>Before implementing the webinars, the GMs often had no conclusive data as to how customers felt about an initiative, offer, or idea. Webinar polls provided the sound information they wanted.</p>
        <p>According to one GM, "One of the biggest benefits of the presentations is that I can see what customers approve of. I usually have an idea of how popular an idea is and where each person stands. But the events let me know who thinks what. And,
            afterwards, I can run with an idea or go back to the drawing board."</p>
        <p>Each presentation asks four to six poll questions. For key questions such as "Are you receiving the value you expected from this product?", attendees can vote "yes" or "no". The GMs know exactly where each customer stands.</p>
        <p>For cross-selling and upselling, lead generation questions such as, "Do the new features of version 2011 excite you?" allow attendees to select, "yes," "no" or "maybe." Account managers know to give the "maybes" particular attention to put them
            in the "yes" column.</p>
        <p>The polls also play a key role in winning customer support. The GM can outline a product roadmap and ask "Do you agree that this is the direction we should be moving in?" With 80-95% of attendees often agreeing, the GMs can broadcast the results
            and have everyone know there's a popular tide moving with them.</p>
        <p>To make follow-up activities straightforward, each of the GMs and their account management teams receive a webinar workbook which details the votes of each attendee (as well as the registration and attendance information).</p>
        <h3>Honing the Language</h3>
        <p>Each webinar targets a very specific vertical market, such as nuclear submarine engineers, online entrepreneurs and real estate developers; so, the GMs need to pick their language carefully. Each GM has at least one dry run of each event in which
            Rally Point Webinars makes recommendations on how the GM can cut jargon, simplify the message, tweak poll questions, and clarify what each presentation slide should show.</p>
        <div style="text-align: center;">
            <br>
            <br>
            <center>
                <table border="0">
                    <tbody>
                        <tr>
                            <td>
                                <img src="<%= PP %>images/enews/slide1.png" alt="slide1" width="200" height="151" />
                            </td>
                            <td>
                                <img src="<%= PP %>images/enews/slide2.png" alt="slide2" width="200" height="151" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <strong>Slide #1</strong>
                            </td>
                            <td style="text-align: center;">
                                <strong>Slide #2</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
        <p style="text-align: left;"><strong>&nbsp;</strong></p>
        <p>In example Slide #1, the slide includes the best unhappy quotes to open a conversation on areas for improvement. In example Slide #2, the slide eliminates the details of "Faster" to hammer the main message.</p>
        <p>(The dry runs also give the GMs an opportunity to add their personality to the events. One GM had fun by playing "Don't Stop 'til You Get Enough" during the poll questions—coincidentally those polls had some of the best lead generation response
            rates.)</p>
        <h3>Running an Effective Lean Organization</h3>
        <p>The enterprise software company has in part succeeded by outsourcing many functions outside of its expertise. In this case, that meant the GMs had Rally Point Webinars manage and produce the events. The GMs and their teams focus on the needs of
            clients like Dunkin Donuts and Hanes, rather than managing the marketing and execution of nearly 100 events, in languages ranging from Finnish to French.</p>
        <p>While the GMs outsource event management, Rally Point pours essential knowledge back into the company. By holding a quarterly "lessons learned" event, Rally Point shares best practices with the GMs and showcases highlights from the various presentations.
            For the GMs who work independently of each other, this provides organization-wide learning that improves their performance and makes their jobs easier.</p>
        <h3>Keeping It Going</h3>
        <p>The leads from the events have helped generate millions of dollars and helped the GMs meet their aggressive financial targets. The messaging of the events has helped the GMs communicate with their customers and show the progress of their solutions.
            With over 20 events lined up for the next quarter, more results will continue to stream in.</p>
        <p style="text-align: center;"><strong>*&nbsp;&nbsp; *&nbsp;&nbsp; *</strong></p>
        <p>By the numbers:</p>
        <ul>
            <li>Over 20 webinars are produced each quarter;</li>
            <li>The enterprise software company has had to add zero support staff;</li>
            <li>The average customer for each enterprise software brand ranges from $15k to $1.25M;</li>
            <li>Each event generates an average of 6-12 leads that personally request follow-up;</li>
            <li>The company expected to outsource to several companies (e.g., marketers, event producers, webinar platform providers), but Rally Point consolidated all of those functions.</li>
        </ul>
    </section>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</html>
