<!DOCTYPE html>
<html lang="en">

<%- include(`${partials}/head`, {pageTitle: 'How To Powerfully Connect With Your Audience'}); -%>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBQWKBV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include(`${partials}/navbar`, {pageClass: ''}); -%>

    <section class="article">
        <h2 class="title">How To Powerfully Connect With Your Audience</h2>
        <p>PowerPoint presentations can be repulsively boring or beautifully engaging. Which way a slide deck falls makes a big difference for the presenter, especially in a business setting.</p>
        <p>Business presentations have consequences. In a best-case scenario, the outcome of a presentation may be the approval of a six-figure contract or the go-ahead for a project to move forward. In a worst-case scenario, the presentation may result in lost income or professional respect: “That was a lousy presentation. I don’t understand what he was thinking!”</p>
        <p>When I see a presentation that is effective and actually moves me, I share it in this feature and highlight why it stood out.</p>
        <p><strong>The Presentation Slides</strong></p>
        <p>The three slides selected for this month’s featured presentation* stood out because they perfectly embody a number of presentation principles: interactivity, beauty, and emotion (three words that rarely arise in the often staid realm of PowerPoint presentations).</p>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="<%= PUBLIC_PATH %>images/webinar_slide_1.gif" alt="" width="187" height="140" />
                    <p><strong>Slide 1</strong></p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="<%= PUBLIC_PATH %>images/webinar_slide_2.gif" alt="" width="187" height="140" />
                    <p><strong>Slide 2</strong></p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="<%= PUBLIC_PATH %>images/webinar_slide_3.gif" alt="" width="187" height="140" />
                    <p><strong>Slide 3</strong></p>
                </div>
            </div>
        </div>
        <table style="width: 90%; text-align: center;" border="0">
            <tbody style="text-align: left;">
                <tr style="text-align: left;">
                    <td style="text-align: left;">
                        <p><strong>Interactivity:</strong> Presentations are often monotonous. One person talks on-and-on-and-on, blah-blah-blah, while the audience watches and listens. Break things up. Add a do-it-yourself exercise.</p>
                        <p>Slide 1 transitions the lecture part of the recording to the viewer-exercise part. Slides 2 and 3 invite the audience to recall positive and negative experiences and note elements of them. The particulars of the exercise are unimportant.
                            What’s noteworthy is that the exercise has the viewer engage the material and make it personal. And, if viewers had been checking their email during the lecture, they are now paying full attention.</p>
                        <p><strong><em>Your Assignment: </em></strong>Review your presentation. Ask yourself, “What short exercise can the audience do (with no prep work)?” Rehearse it with colleagues to perfect it. Then use it live.</p>
                        <p><strong>Beauty:</strong> People like looking at beautiful things. Go beyond Microsoft ClipArt and stock photos. Make your slides beautiful and hold the audience’s attention by including art.</p>
                        <p>The effective use of art in these slides is undeniable. The golden face in slide 1 is stunning and grabs attendees’ attention. The next images add life to slides which otherwise would have been—yawn—black-and-white text.</p>
                        <p>The three images could proudly hang on anyone’s wall. The bottom line is each image is attention grabbing and makes the slides a more valuable part of the audio/visual presentation.</p>
                        <p><strong><em>Your Assignment:</em></strong> At each slide, note what emotion, image, or idea you are discussing or trying to convey. Visit museum and gallery websites to find, collect, and use images that correspond to your slides
                            (copyright permitting).</p>
                        <p><strong>Emotion: </strong>In sales conversations, good salespeople ask prospective buyers what problems pain them. Pain is not an abstract thing. Employees hate slow servers; marketers dislike poor product descriptions; executives
                            dislike chasing current clients for unpaid invoices. A smart salesperson taps into that emotion to add urgency and desire to a proposal. Smart presenters use emotion to their advantage too.</p>
                        <p>The above presentation does not abstractly talk about happiness. It directly asks the viewers to re-experience positive and negative states. The presentation is much more powerful because of that.</p>
                        <p><strong><em>Your Assignment:</em></strong> What emotional realities does your presentation conjure up? Does it address frustrating content management systems or the excitement of creating a steady sales pipeline. Invite attendees
                            to consider the physical frustration or the reduced morale of using a slow system. Invite them to imagine the excitement of knowing sales goals are always within reach because the company has a never-ending queue of prospective
                            buyers.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><strong>The Bottom Line</strong></p>
        <p>Lest anyone doubt the power of these three principles, consider the case of Stanford University. They wanted to raise one billion dollars from their alumni to fund an undergraduate program. What they did to accomplish this, in partnership with
            Creative Realities, Inc (CRI), was unheard of: They created a traveling-amphitheater, fundraising show.</p>
        <p>While the show did not use PowerPoint, it did execute the three presentation principles to brilliant effect in another medium. For interactivity, the alumni sat around intimate dinner tables and talked about their time at Stanford and the substance
            of the evening’s brief, live speeches. For beauty, the show played a musical score, done at George Lucas’ Skywalker Ranch, and surrounded alumni with memorable elements of Stanford’s campus, including archways, rooftops, statues, and trees.</p>
        <p>According to the CRI case study, the production ultimately triumphed because it beautifully executed the third presentation principle: “[It] would engage the alums by <em>emotionally reconnecting them</em> [emphasis added] to the university. The
            audience, each of whom got their start in life at Stanford, would become overwhelmed with pride, as they experienced the sensations of being Stanford students once more.”</p>
        <p>The show surpassed expectations, raising over 1.2 billion dollars.</p>
        <p>While interacting with your audience, emotionally connecting with them, and using art to enhance your audio/visuals may not earn you a billion dollars, doing so may earn you a six-figure client contract instead.</p>
        <p><span style="font-weight: normal;"><span style="font-size: 8pt;">*The three slides, which come from a Landmark Education seminar session on “Creating Happiness,” are part of an educational presentation for people of all ages and backgrounds.</p>
    </section>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</html>
