
<!DOCTYPE html>
<html lang="en">

<%- include(`${partials}/head`, {pageTitle: 'How To Assemble Parts Into An Excellent Presentation'}); -%>

<body>
    <%- include(`${partials}/navbar`, {pageClass: ''}); -%>

    <section class="article">
        <h2 class="title">How To Assemble Parts Into An Excellent Presentation</h2>
        <p>Mr. Potato Head and your webinar presentation do have something in common. They both have a distinct structure. If you know what the structure is, you can be more effective at assembling them into a final, (fun,) quality product.</p>
        <p>Let's look at some presentation structures and how to go about creating them.</p>
        <h3>The Opening</h3>
        <p>You have a vision for what you want to accomplish with your webinar presentation. In less than 90 seconds, share it in a compelling way. Paint a picture for where you will take attendees by the end of the hour. You can tell a story, share research figures, or have each attendee recall a past experience.</p>
        <p>On the flip side, each attendee has a unique reason for joining. What do they want to accomplish? What pain do they want to alleviate? What benefit do they want to arrive at? Ask each attendee to write on paper what their specific reasons for attending are.</p>
        <p>This works to hold a person's attention throughout the event. If they start to tune out or check their email, they can look down at the paper, get present or become mindful again of what they want, and refocus on what you're saying with renewed interest.</p>
        <h3>The Meat</h3>
        <p>I see "10 Mistakes," "Five Best Practices," "Seven-Must Dos" as the most common structure for presentations. That's often the easiest way for a presenter to create a presentation. However, it often isn't what's most helpful for attendees. These alternate structures can work really well.</p>
        <p>Step-by-Step: Most people want to improve their performance after watching a webinar. They want to market more effectively, project-manage better, or write software faster. These actions happen in real-time in a linear process.</p>
        <p>Structure the presentation around that chronology. Overlay the best practices across a timetable. This helps attendees to understand the practical use of the material and anticipate how they will apply it.</p>
        <p style="text-align: center;"><img src="<%= PUBLIC_PATH %>images/enews/webinar_step_by_step.gif" alt="webinar_step_by_step" /></p>
        <p><br />The above slide, from PM College's presentation, "A 5-Step Process Linking Project Management Competency to Improved Business Performance," does just that. This was the concluding slide after "Measure Improvement." The presentation initially
            displayed just the first arrow and then added the others one-by-one after elaborating on each point.<br /><br />• From Context to Concept to Reality: Sometimes the presenter has a model or concept to share. In this example presentation, "Building
            a Value Proposition that Sells in a Recession," Paul Collins, Managing Partner at Equiteq, LLP, shared a model for building value propositions that receive premium pricing in a down market.<br /><br />He set the context for this important
            element by reviewing the essential elements of a professional services firm, before isolating one—the value proposition—and discussing it:<br /><br /></p>
        <p style="text-align: center;"><img src="<%= PUBLIC_PATH %>images/enews/webinar_concept_reality.gif" alt="webinar_concept_reality" /></p>
        <p><br />As the webinar progressed, he discussed each tier of his model and then provided real-world examples of how to climb the pyramid to get to value creation. He did an excellent job and—with some help from a British accent—he made it must-see
            material.<br /><br />Consider whether your presentation centers on a key model. If it does, this structure will serve you well.<br /><br />• Make the Argument: Put on your Johnny Cochran shoes for this one. If you have a point to make, you
            can structure your presentation in whatever way makes the most compelling argument. You can fill it with drama and flair, numbers-backed evidence, logical analysis or anything else.<br /><br />In this example, Leads360 provides Lead Management
            Software (LMS) that compliments Customer Relationship Management (CRM) systems. Their LMS produces terrific results for realtors, colleges, and brokers, but it's not well known and can be viewed as unnecessary.<br /><br />Leads360 made a compelling
            argument in the presentation title itself: "Where Good CRMs go Bad." Their point was that while CRMs are good, they do have their shortcomings. Certain companies need a focused, specialized, and straightforward tool for critical tasks, like
            converting leads to sales.<br /><br /></p>
        <p style="text-align: center;"><img src="<%= PUBLIC_PATH %>images/enews/webinar_argument.gif" alt="webinar_argument" /></p>
        <p><br />As an example of flair and fun, the above slide brought a unique perspective to the point: Specialists produce better results—just look at the Track & Field world records. Not a single world record is held by a decathlete. Specialists hold
            each one.<br /><br />• Give a Taste and Show How It's Done: My friend Mark Levy, author of "Accidental Genius: Revolutionize Your Thinking Through Private Writing," delivered a terrific webinar on writing compelling case studies. His case
            studies are like no one else's. Before fully going into how to create them, he gave the audience a sample of what compelling case studies look like.<br /><br /></p>
        <p style="text-align: center;"><img src="<%= PUBLIC_PATH %>images/enews/webinar_show_tell.gif" alt="webinar_show_tell" /></p>
        <p><br />The above slide and story, along with a number of others, made the case. Once you were hooked on wanting one for your own business, Mark walked through the linear process of how to create them.<br /><br /><strong>The Finish</strong><br /><br
            />Most presenters give a summary and then hold a question-and-answer session. Do the Q&A first. This lets you end on a powerful note instead of with an unpredictable (or planted) final question.<br /><br />For the summary, restate what your
            compelling vision was and have the audience look down at their reasons for joining. Return them to what brought them to the presentation. Then, in the final minute, recap what you covered and paint a picture of what's now possible for them
            after having spent an hour with you.<br /><br /><strong>Moving Forward</strong><br /><br />A blank slide deck can be frustrating and time-consuming. Knowing what structures are available to you can make it easier to create your presentation.
            Kids don't worry about playing with a Mr. Potato Head. They pop on a hat, eyes, ears, arms, and shoes. You can now do the same.</p>
        <p>&nbsp;</p>
    </section>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/bottom`); -%>
</html>
