<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= SITE_TITLE %> | <%= pageTitle %></title>
    <meta name="description" content="<%= DESCRIPTION %>">
    <meta property="og:url" content="<%= SITE_URL %>">
    <meta property="og:site_name" content="<%= SITE_TITLE %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= SITE_TITLE %>">
    <meta property="og:description" content="<%= DESCRIPTION %>">
    <meta property="og:image" content="">
    <meta name="twitter:title" content="<%= SITE_TITLE %>">
    <meta name="twitter:description" content="<%= DESCRIPTION %>">
    <meta name="twitter:image" content="">
    <meta name="twitter:image:alt" content="">
    <meta name="twitter:site" content="<%= SITE_URL %>">
    <meta name='author' content='<%= DEVELOPER_NAME %>. <%= DEVELOPER_URL %>'>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="<%= PP %>images/logos/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= PP %>images/logos/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= PP %>images/logos/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= PP %>images/logos/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= PP %>images/logos/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= PP %>images/logos/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= PP %>images/logos/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= PP %>images/logos/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= PP %>images/logos/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= PP %>images/logos/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= PP %>images/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= PP %>images/logos/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= PP %>images/logos/favicon-16x16.png">
    <link rel="manifest" href="<%= PP %>manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= PP %>images/logos/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- End favicons -->

    <!-- Vendor CSS files -->
    <link rel="stylesheet" href="<%= PP %>vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/BrentonCozby/carousel-slider/4052c74e/dist/carousel.min.css">
    <link rel="stylesheet" href="<%= PP %>vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- End vendor CSS -->

<% if(filenameMap) { %>
    <link rel="stylesheet" href="<%= PP %>css/<%= filenameMap['index.css'] %>">
    <link rel="preload" href="<%= PP %>js/<%= filenameMap['vendor.js'] %>" as="script">
    <link rel="prefetch" href="<%= PP %>js/<%= filenameMap['vendor.js'] %>">
    <link rel="preload" href="<%= PP %>js/<%= filenameMap['bundle.js'] %>" as="script">
    <link rel="prefetch" href="<%= PP %>js/<%= filenameMap['bundle.js'] %>">
<% } else { %>
    <link rel="stylesheet" href="<%= PP %>css/index.css">
    <link rel="preload" href="<%= PP %>js/vendor.js" as="script">
    <link rel="prefetch" href="<%= PP %>js/vendor.js">
    <link rel="preload" href="<%= PP %>js/bundle.js" as="script">
    <link rel="prefetch" href="<%= PP %>js/bundle.js">
<% } %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MBQWKBV');
    </script>
    <!-- End Google Tag Manager -->

    <!--Start Schema Code-->
    <script type="application/ld+json">
    {
        "@id":"https://www.rallypointwebinars.com#/organization",
        "@context":"https://schema.org",
        "@type":"Organization",
        "url":"https://www.rallypointwebinars.com",
        "name":"Rally Point Webinars",
        "description":"Rally Point Webinars is a webinar production and project management company devoted to delivering professional, online events. We are distinct in that other webinar providers are primarily technology vendors that offer add-on event support.",
        "sameAs":[
            "https://www.linkedin.com/company/rally-point-webinars",
            "https://www.facebook.com/RallyPointWebinars/"
        ]
    }
    </script>
    <!--End Schema Code-->
</head>
