<nav class="navbar navbar-default navbar-custom navbar-fixed-top <%= pageClass %>" id="mainNav">
    <% if(locals.showSalesBanner) { %>
    <div class="sales-banner">
        <div class="container text-right">
            <span class="tagline">Free Consultation with Webinar Expert&nbsp; → &nbsp;</span>
            <a href="tel:617-517-0720" class="phone">(617) 517-0720</a>
        </div>
    </div>
    <% } %>
    <div class="container">
        <div class="navbar-header page-scroll">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu&nbsp;<i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="<%= PP %>">
                <img src="<%= PP %>images/logos/rally-point-check-logo.png" alt="Rally Point Webinars Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="<% if(pageClass === 'home') { %>active<% } %>"><a class="home" href="<%= PP %>">home</a></li>
                <li class="<% if(pageClass === 'services') { %>active<% } %>"><a href="<%= PP %>services.html">Services</a></li>
                <li class="<% if(pageClass === 'industries') { %>active<% } %>"><a href="<%= PP %>industries.html">Industries</a></li>
                <li class="<% if(pageClass === 'thinking') { %>active<% } %>"><a href="<%= PP %>thinking.html">Thinking</a></li>
                <li class="<% if(pageClass === 'about') { %>active<% } %>"><a href="<%= PP %>about.html">About</a></li>
                <li class="<% if(pageClass === 'contact') { %>active<% } %>"><a class="contact-navlink" href="<%= PP %>contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
