- var root = htmlWebpackPlugin.options.root

mixin makeNavbar(page)
    if page === 'home'
        - var homeActive = 'active'
    if page === 'services'
        - var servicesActive = 'active'
    if page === 'industries'
        - var industriesActive = 'active'
    if page === 'thinking'
        - var thinkingActive = 'active'
    if page === 'about'
        - var aboutActive = 'active'
    if page === 'contact'
        - var contactActive = 'active'

    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top(class=page)
        .container
            .navbar-header.page-scroll
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    |  Menu&nbsp;
                    i.fa.fa-bars
                |
                a.navbar-brand.page-scroll(href= root + '/index.html')
                    img(src= root + '/images/rally-point-check-logo.png', alt='')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li(class=homeActive)
                        a.home(href= root + '/index.html') home
                    li(class=servicesActive)
                        a(href= root + '/services.html') Services
                    li(class=industriesActive)
                        a(href= root + '/industries.html') Industries
                    li(class=thinkingActive)
                        a(href= root + '/thinking.html') Thinking
                    li(class=aboutActive)
                        a(href= root + '/about.html') About
                    li(class=contactActive)
                        a.contact-navlink(href= root + '/contact.html') Contact
